@import '../../styles/mixins';

.header {
    height: 10vh;
    width: 100vw;
    padding-left: var(--margin);
    padding-right: var(--margin);
    position: absolute;
    z-index: 100;
}

.header-nav {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    
    &--open {
        --nav: #000;
    }

    &__icons {
        display: flex;
        align-items: center;
    }
    
    &__icon {
        margin-top: 5px;
        text-decoration: none;
        @include link(#000);
        color: var(--nav);
        font-size: 18pt;
        position: relative;

        &:first-child {
            margin-right: 20px;
        }
    }

    &__quantity {
        position: absolute;
        display: inline;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.4em;
        font-weight: 600;
        color: var(--nav);
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16pt;
        color: var(--nav);
    }

    &__btn {
        width: 18pt;
        height: 12pt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    &__btn-line {
        width: 100%;
        height: 1.5px;
        background-color: var(--nav);
        transition: transform 0.2s ease, opacity 0.1s ease;

        &:nth-child(2),
        &:nth-child(3) {
            position: absolute;
            width: 18pt;
            transform: translateY(-50%);
            top: 50%;
        }

        &--active:nth-child(1),
        &--active:nth-child(4) {
            opacity: 0;
        }

        &--active:nth-child(2) {
            transform: rotate(45deg);
            position: absolute;
        }

        &--active:nth-child(3) {
            transform: rotate(-45deg);
            position: absolute;
        }
    }
}

.header-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--open {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: absolute;
        background-color: #f7fcf7;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__link {
        @include link(#000);
        font-size: 2rem;
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        gap: 5px;
    }
    
    &__dropdown-link {
        @include link(#000);
    }
}



